@{
    ViewData["Title"] = "Home Page";
}

<div class="todo-wrapper" ng-controller="todoController">
    <h2>You've got <span class="emphasis">{{getTotalTodos()}}</span> things to do</h2>
    <ul>
        <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done" />
            <span class="done-{{todo.done}}">{{todo.title}}</span>
        </li>
    </ul>
    <form>
        <input class="add-input" placeholder="I need to..." type="text" ng-model="formTodoTitle" ng-model-instant />
        <button class="btn" ng-click="addTodo()">Add</button>
        <button class="btn" ng-click="addTodoWithjQuery()">Add with jQuery</button>
    </form>

    <button class="btn" ng-click="clearCompleted()">Clear completed</button>
</div>

<div>
    <h2>Try adding one more thing with a full POST</h2>
    <form asp-controller="Home" asp-action="CreateTodo">
        <input id="title" name="title" placeholder="I need to..." type="text" />
        <button type="submit" class="btn">Submit</button>
    </form>
</div>
