@{
    ViewData["Title"] = "Home Page";
}

<div class="todo-wrapper" ng-controller="todoController">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h3>You've got <span class="emphasis">{{getTotalTodos()}}</span> things to do</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="todo in todos">
                    <input type="checkbox" ng-model="todo.done" />
                    <span class="done-{{todo.done}}">{{todo.title}}</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <form class="form-inline">
                <input class="form-control" placeholder="I need to..." type="text" ng-model="formTodoTitle" ng-model-instant />
                <button class="btn btn-primary" ng-click="addTodo()">Add-Angular</button>
                <button class="btn btn-default" ng-click="addTodoWithjQuery()">Add-jQuery</button>
                <button class="btn btn-default" ng-click="clearCompleted()">Clear completed</button>
            </form>
        </div>
    </div>
</div>

<div>
    <h3>Try adding one more thing with a full POST</h3>
    <form class="form-inline" asp-controller="Home" asp-action="CreateTodo">
        <input class="form-control" id="title" name="title" placeholder="I need to..." type="text" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
