@{
    ViewData["Title"] = "Home Page";
}

<div class="todo-wrapper" ng-controller="todoController">
    <h2>You've got <span class="emphasis">{{getTotalTodos()}}</span> things to do</h2>
    <ul>
        <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done" />
            <span class="done-{{todo.done}}">{{todo.title}}</span>
        </li>
    </ul>
    <form>
        <input class="add-input" placeholder="I need to..." type="text" ng-model="formTodoTitle" ng-model-instant />
        <button class="add-btn" ng-click="addTodo()"><h2>Add</h2></button>
        <button class="add-btn" ng-click="addTodoWithjQuery()"><h2>Add with jQuery</h2></button>
    </form>

    <button class="clear-btn" ng-click="clearCompleted()">Clear completed</button>
</div>
